$abd-color-disabled : #999999 !default;
$abd-color-hover : #eeeeee !default;
$abd-background-color : #006dcc !default;
$abd-background-color-start : #0088cc !default;
$abd-background-color-stop : #0044cc !default;
