!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.launch
*.sublime-workspace
.c9/
.classpath
.DS_Store
.project
.settings/
.vscode/*
/.idea
/.sass-cache
/connect.lock
/coverage
/dist
/documentation
/e2e/*.js
/e2e/*.map
/libpeerconnection.log
/node_modules
/out-tsc
/tmp
/typings
npm-debug.log
testem.log
Thumbs.db
