sudo: required
dist: xenial
language: node_js
notifications:
  email: false
node_js:
  - '12'
services:
  - xvfb
addons:
  chrome: stable
before_script:
  - npm prune
script:
  - npm run test
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
    - gh-pages
before_deploy:
  - npm run document
deploy:
  provider: pages
  local-dir: documentation
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: false
  on:
    branch: master
