$dl-abdtp-date-button-border-radius:  999px                   !default;
$dl-abdtp-date-button-color:          hsla(0, 0%, 0%, 0.87)   !default;
$dl-abdtp-disabled:                   rgba(0, 0, 0, 0.25)     !default;
$dl-abdtp-hover-background:           hsla(0, 0%, 0%, 0.04)   !default;
$dl-abdtp-now-border-color:           rgba(0, 0, 0, 0.25)     !default;
$dl-abdtp-past-future-color:          hsla(0, 0%, 0%, 0.04)   !default;
$dl-abdtp-selected-background:        rgba(0, 82, 204, 0.75)  !default;
$dl-abdtp-selected-color:             #ffffff                 !default;
$dl-abdtp-selected-hover-background:  #0052cc                 !default;
